#microphone {
	font-size: 25px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	border: none;
	margin-left: 5px;
	outline: none;
	background: transparent;

}

#main{
	position: absolute;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	margin-top: 10%;
	text-align: center;
	border-style: solid;
	border-width: thin;
	border-color: black;
	background-color: red; 
}

.uiArea {
	border-style: groove;
	border-width: thin;
	border-color: appworkspace;
	background-color: white;
	margin: 5%;
}
 